body{
    header#IN-header{
        display: flex;
        align-items: center;
    }
    // ------------------------Sectione number 2 fod img and titele------------------------
    section#imgAndName{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        div{
            display: flex;
            align-items:  center;
            flex-direction: column;
            img{
                height: 241px;
                width: 241px;
            }
            h1{
                margin-top: 0%;
            }
            p#Price{
                margin: 0%;
                color:#FA4A0C;
                font-weight: 800;
            }
        }
    }
    // ----------------------sectione number 3 information----------------------
    section#information{
        div{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 50px;
            h1{
                margin: 0%;
                font-size: 17px;
            }
            p{
                line-height: 25px;
                 margin-bottom: 0ch;
                 color: rgb(59, 59, 59);
            }
        }
    }
}