body {
    background-color: #F2F2F2;
    ;
    font-family: sans-serif;

    section#text-Home {
        padding: 0px 50px;

        h1 {
            margin: 0%;
            font-family: sans-serif;
            font-weight: 700;
            font-size: 34px;
        }
    }

    // ---------------------------------------------------------------
    section#serchin {
        display: flex;
        justify-content: center;
        margin: 30px 0px;

    }

    // ------------------------------------------------------------
    section#meno {
        margin-top: 50px;
        padding-left: 50px;
        display: flex;
        overflow-x: auto;
        ::-webkit-scrollbar{
            width: 1px;
        }
height: 30px;
        div {
            width: 87px;

            a {
                text-decoration: none;
                color: #9A9A9D;
                ;
                font-size: 17px;
                margin: 10px 20px;
            }
        }

        div#select {
            border-bottom: 1px solid #FA4A0C;

            a {
                color: #FA4A0C;
            }
        }
      
    }
    // -------------------------------------------------------------
    section#card{
        margin: 70px 30px 80px 30px;
      display: flex;
      overflow-y: auto;
      div{
        padding-right: 20px;
      }
    }
}